@charset "utf-8";
@import url(reset.css);
@font-face {
            font-family: 'NanumSquareR';
            src: url('../font/NanumSquareR.ttf'),
                url('../font/NanumSquareR.eot');
}
@font-face {
            font-family: 'NanumSquareB';
            src: url('../font/NanumSquareB.ttf'),
                url('../font/NanumSquareB.eot');
}
@font-face {
            font-family: 'NanumSquareEB';
            src: url('../font/NanumSquareEB.ttf'),
                url('../font/NanumSquareB.eot');
}
@font-face {
            font-family: 'Montserrat-ExtraBold';
            src: url('../font/Montserrat-ExtraBold.otf');
}
#wrap{
    margin: 0 auto;
    font-family: 'NanumSquareB';
}

/*키이미지*/
figure{background: url(../images/AboutUs/keyimage.jpg); width: 100%; height: 100vh; background-repeat: no-repeat; background-position: center top; background-size: cover;}

figure>.main_ment{color: transparent; text-align: center; text-align: center; font-size: 115px; position: absolute; top: 40%; 
    -webkit-text-stroke: 2px white;  
    -moz-text-stroke: 2px white;
    -ms-text-stroke:2px white;
    -o-text-stroke: 2px white;
    text-stroke: 2px white;
    _color: white;

    outline: 0;
    width: 100%; font-weight: 800; font-family: 'Montserrat-ExtraBold'; line-height: 102px; animation-name: slide-up1; animation-duration: 1.5s}
@keyframes slide-up1{
    from{
        transform: translate(0, 35%);
        opacity: 0;
    }
    to{
        transform: translate(0, 0);
        opacity: 1;
    }
}
figure>.main_ment>span{color: white;}
figure>.main_ment:hover{color:white; -webkit-text-stroke: 0px; transition: 1s;}
figure>.sub_ment{color: white; font-size: 22px; font-family: 'NanumSquareB'; position: absolute; top: 49%; width: 100%; text-align: center; line-height: 75px; animation-name: slide-up2; animation-duration: 2s}
@keyframes slide-up2{
    from{
        transform: translate(0, 55%);
        opacity: 0;
    }
    to{
        transform: translate(0, 0);
        opacity: 1;
    }
}


/*scroll down*/
.scroll{background: url(../images/scroll.gif) no-repeat; width: 100px; height:100px ; left: 45%; position: absolute; bottom: 65px; background-size: 100%; transform: translate(47%,70%);}
.scroll:after{display: block; content: ""; clear: both;}

/*content-1*/
#main-content1{max-width: 80%; position: relative; height: 1600px; margin: 0 auto; margin-top: 7%; overflow: hidden;}
#main-content1:after{clear: both; display: block; content"";}
.content1{width: 100%;}
.content1_img{background: url(../images/AboutUs/content-1.jpg) no-repeat; background-position: center; width: 50%; height: 400px;}
.content1>li{float: left; width: 50%;}
.content1>.content1-ment{height: 400px; padding: 35px 50px;}
.content1>.content1-ment>h2{font-size: 35px; font-family: 'NanumSquareEB';}
.content1>.content1-ment>p{font-size: 17px; font-family: 'NanumSquareR'; padding: 33px 0 0 0; line-height: 30px;}


/*content-2*/
.content2{width: 100%; }
.content2-img{background: url(../images/AboutUs/content-2.jpg) no-repeat; background-attachment: fixed;background-position: right; width: 50% !important; height: 1100px;}
.content2>li{float: right; width: 50%;}
.content2>.content2-ment{height: 1100px; padding: 65px 10px;}
.content2>.content2-ment>h2{font-size: 35px; font-family: 'NanumSquareEB';}
.content2>.content2-ment>p{font-size: 17px; font-family: 'NanumSquareR'; padding: 50px 0 0 0; line-height: 30px;}
.content2>.content2-ment>.icon{}
.content2>.content2-ment>.icon>ul{ margin-top: 280px; width: 100%; position: relative;}
.content2>.content2-ment>.icon>ul>li{width: 31%; float: left; text-align: center; background: #eee; margin: 1%; height: 200px; padding-top: 50px; }
.content2>.content2-ment>.icon>ul>li>.fas{font-size: 65px; color: #4f4f4f;}
.content2>.content2-ment>.icon>ul>li>.icon-ment{color: #4f4f4f; font-size: 20px; margin-top: 30px; font-family: 'Montserrat-ExtraBold';}


/*content-3*/
#content3{width: 100%; background: url(../images/AboutUs/content-3.jpg) no-repeat; height: 400px; background-size: cover;}
#content3>.content3-line{width: 2px; height: 90px; background: #3ca749; margin: 0 auto; transform: translate(0, 54px);}
.content3-title{color: white; text-align: center; font-size: 50px; font-family: 'Montserrat-ExtraBold'; padding-top: 100px; }
.content3-ment{width: 100%; color: white; text-align: center; font-size: 18px; margin-top: 1%}
