/*서브페이지 footer*/ 
footer{ clear: both; position: relative; width: 100%; height: 150px; background: #252525; color: #ccc; text-align: center; padding-top: 45px; clear: both; line-height: 20px; font-size: 14px;}
footer>.footer_img>img{margin-bottom: 10px;}

/*top*/
#top{position: absolute; bottom: 160px; right: 3%; cursor: pointer;}