@charset "utf-8";
@import url(reset.css);
@font-face {
            font-family: 'NanumSquareR';
            src: url('../font/NanumSquareR.ttf'),
                url('../font/NanumSquareR.eot');
}
@font-face {
            font-family: 'NanumSquareB';
            src: url('../font/NanumSquareB.ttf'),
                url('../font/NanumSquareB.eot');
}
@font-face {
            font-family: 'NanumSquareEB';
            src: url('../font/NanumSquareEB.ttf'),
                url('../font/NanumSquareB.eot');
}
@font-face {
            font-family: 'Montserrat-ExtraBold';
            src: url('../font/Montserrat-ExtraBold.otf');
}
#wrap{
    margin: 0 auto;
    font-family: 'NanumSquareB';
}

/*메뉴*/
#navTop{position: fixed; height: 70px; width: 100%; z-index: 1; padding: 10px 0;}
#navTop>h1{width: 130px; position: absolute; padding: 6px 0; left: 2%; z-index: -1111;}
#navTop>#nav_menu{margin-left: 20px; position: absolute; right: 1.5%; font-family: 'NanumSquareEB'; font-size: 35px; color: white; cursor: pointer; padding: 6px 0;}

/*햄버거 메뉴*/
#nav_menu > .row {
        width: 20px;
        float: right;
        margin-right: 30px;
    }
    #nav_menu > .row:after {
        content: '';
        display: block;
        clear: both;
    }
    .hamburger > .line{
      width: 35px;
      height: 3px;
      background-color: white;
      display: block;
      margin: 8px 0;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .hamburger:hover{
      cursor: pointer;
    }

    #hamburger-1.is-active .line:nth-child(2){
      opacity: 0;
    }

    #hamburger-1.is-active .line:nth-child(1){
      -webkit-transform: translateY(13px) rotate(45deg);
      -ms-transform: translateY(13px) rotate(45deg);
      -o-transform: translateY(13px) rotate(45deg);
      transform: translateY(13px) rotate(45deg);
    }

    #hamburger-1.is-active .line:nth-child(3){
      -webkit-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
      -o-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
    }

.main-hamburger{position: absolute; right: -100%; top: 0; width: 35%; height: 100vh; z-index: -999;}
.click-hamburger{width: 100%; height: 100vh; background: #0081c5; position: absolute;  z-index: -999; top: 0; left: 100%;
        transition: 0.5s;}
.click-hamburger.click{left: 0; transition: 0.5s}
.main-hamburger>.click-hamburger>.ham_menu{color: white; font-size: 40px; width: 100%; height: 100%; text-align: center; line-height: 115px; transform: translate(0, 25%); font-family: 'NanumSquareEB';}

/*키이미지*/
figure{background: url(../images/bg1.jpg); width: 100%; height: 100vh; background-repeat: no-repeat; background-position: center top; background-size: cover;}
figure>.shape1{width: 60px; height: 80px; background: #0081c5; transform:skewX(-45deg); position: absolute; left: 60%; top: 23%; animation-name: slide_left; animation-duration: 2s;}
@keyframes slide_left{
    from{
        transform:skewX(-45deg) translate(800%, 0);
        opacity: 0;
    }
    to{
        transform:skewX(-45deg) translate(0, 0);
        opacity: 1;
    }
}
figure>.shape2{width: 60px; height: 80px; background: #0081c5; transform: skewX(-45deg); position: absolute; left:38%; top: 61%; animation-name: slide-right; animation-duration: 2s; }
@keyframes slide-right{
    from{
        transform:skewX(-45deg) translate(-800%, 0);
        opacity: 0;
    }
    to{
        transform:skewX(-45deg) translate(0, 0);
        opacity: 1;
    }
}
figure>.main_ment{color: transparent; text-align: center; text-align: center; font-size: 83px; position: absolute; top: 34%; 
    -webkit-text-stroke: 2px white;  
    -moz-text-stroke: 2px white;
    -ms-text-stroke:2px white;
    -o-text-stroke: 2px white;
    text-stroke: 2px white;
    _color: white;

    outline: 0;
    width: 100%; font-weight: 800; font-family: 'Montserrat-ExtraBold'; line-height: 90px; animation-name: slide-up1; animation-duration: 1.5s}
@keyframes slide-up1{
    from{
        transform: translate(0, 35%);
        opacity: 0;
    }
    to{
        transform: translate(0, 0);
        opacity: 1;
    }
}
figure>.main_ment>span{color: white;}
figure>.main_ment:hover span{color: #0081c5}
figure>.main_ment:hover{color:white; -webkit-text-stroke: 0px; transition: 1s;}
figure>.sub_ment{color: white; font-size: 33px; font-family: 'NanumSquareB'; position: absolute; top: 52%; width: 100%; text-align: center; line-height: 75px; animation-name: slide-up2; animation-duration: 2s}
@keyframes slide-up2{
    from{
        transform: translate(0, 55%);
        opacity: 0;
    }
    to{
        transform: translate(0, 0);
        opacity: 1;
    }
}


/*scroll down*/
.scroll{background: url(../images/scroll.gif) no-repeat; width: 100px; height:100px ; left: 44%; position: absolute; bottom: 65px; background-size: 100%; transform: translate(47%,70%);}
.scroll:after{display: block; content: ""; clear: both;}

/*content-1*/
.box{width: 100%; height: 100vh; position:relative;}
section#content-box{width: 100%; padding-top: 80px; padding-bottom: 10%;}
.line{width: 2px; height: 90px; background: #0081c5; margin: 0 auto;}
.our{text-align: center; font-size: 50px; font-family: 'Montserrat-ExtraBold'; margin-top: 20px;}
.three-box{width: 100%; height: 400px; margin-top: 80px; position: relative}
.three-box>ul{width: 80%; margin: 0 auto; position: relative}
.three-box>ul>li{width: 30.4%; float: left; margin: 0 0 0 2%; position: relative;}
.three-box>ul>li>.white_box{width: 60%; height: 20%; background: rgba(255,255,255,0.9); position: absolute; bottom: -10%; right: 0;}
.three-box>ul>li>.white_box>.white-line{width: 33%; height: 15px; background: #0081c5; position: absolute; top: 32%; left: -9%;}
.three-box>ul>li>.white_box>p{font-size: 25px; font-family: 'NanumSquareEB'; margin-top: 15%; text-align: center; font-family: 'Montserrat-ExtraBold';}
.three-box>ul>li>.box-sub{position: absolute; margin-top: 15%; font-size: 17px; text-align: left; padding: 25px; line-height: 25px;}
section#content-box:after{display: block; content: ""; clear: both;}

/*content-2*/
.attach{background: url(../images/attach.jpg)no-repeat center; width: 100%; height: 400px; background-size: cover; background-attachment: fixed; _margin-top: 80px; _margin-bottom: 200px;}
.attach>.attach-main{font-size: 50px; text-align: center; color: white; font-family: 'NanumSquareEB'; padding-top: 110px; }
.attach>.attach-sub{color: white; font-size: 20px; text-align: center; margin-top: 10px; }
.attach>.more{color: black; border-bottom: 5px solid #0081c5; width: 155px; margin: 0 auto; text-align: center; margin-top: 70px; font-family: 'NanumSquareEB'; }
.attach>.more:hover{width: 130px; transition: 1s;}

/*content-3*/
.support{background: URL(../images/support-img.jpg) no-repeat center; width: 50%; height: 450px; position: relative; top:190px; margin-left: 20%; _margin-bottom: 200px;}
.support>.support-ment{font-size: 60px; position: absolute; top: -80px; right:5%; font-family: 'Montserrat-ExtraBold';}
.support>.support-build{
    -webkit-writing-mode:tb-lr;
    -moz-writing-mode:tb-lr;
    -o-writing-mode:tb-lr;
    -ms-writing-mode:tb-lr;
    writing-mode:vertical-lr; 
    writing-mode: vertical-lr; 
    position: absolute; right: -2%; top: -12%; font-size: 15px;}
.support>.support-subment{ position: absolute; left: 5%; top: 120px;}
.support>.support-box{width: 42%; height: 300px; position: absolute; left: 85%; top: 38%; border: 1px solid #0081c5; background: rgba(255,255,255,0.9); }
.support>.support-box:hover{background:#0081c5; transition: 0.5s; }
.support>.support-box:hover .support-box-ment{color: white;}
.support>.support-box:hover .support-box-ment>span{color: white;}
.support>.support-box:hover .support-box-subment{color: white;}
.support>.support-box:hover .plus{color: white; border: 1px solid white;}
.support>.support-box>.support-box-ment{font-size: 30px; font-family: 'NanumSquareEB'; margin-top: 15%; margin-right: 10%; text-align: right;}
.support>.support-box>.support-box-ment>span{color: #0081c5}
.support>.support-box>.support-box-subment{font-size: 17px; margin-right: 10%; margin-top: 5%; color: black; text-align: right;}
.support>.support-box>a>.plus{font-size: 30px; border: 1px solid #0081c5; display: inline-block; padding: 10px; height: 40px; line-height: 20px; color: #0081c5; position: absolute; left: 10%; bottom: 15%;}

/*content-4*/   
.service{background: #f5f5f5; width: 80%; height: 400px; position: relative; top: 150px;margin-left: 20%; margin-bottom: 200px;}
.service>.service-ment{font-size: 60px; position: absolute; top: -30px; left:15%; font-family: 'Montserrat-ExtraBold';}
.service>.service-build{   
    -webkit-writing-mode:tb-lr;
    -moz-writing-mode:tb-lr;
    -o-writing-mode:tb-lr;
    -ms-writing-mode:tb-lr;
    writing-mode:vertical-lr; 
    position: absolute; left: 2%; top: -12%; font-size: 15px;}
.service>.service-subment{ position: absolute; left: 15%; top: 120px;}
.service>ul{margin-left: 100px; padding-top: 220px;}
.service>ul>a>li{width: 40%; height: 120px; padding: 40px 0 40px 40px; float: left; border: 0.5px solid #ccc; margin: 10px; font-size: 20px; font-family: 'NanumSquareEB';}
.service>ul>a>li>.title{float: left; color: #252525}
.service>ul>a>li>.sub-title{font-size: 16px; line-height: 20px; text-align: right; margin-right: 7%; font-family: 'NanumSquareR'; color: #646464;}

/*footer*/ 
footer{position: absolute; bottom: 0; width: 100%; height: 190px; background: #252525; color: #ccc; text-align: center; padding-top: 45px; clear: both; line-height: 20px; font-size: 14px;}
footer>.footer_img>img{margin-bottom: 10px;}

/*top*/
#top{position: absolute; bottom: 160px; right: 3%; cursor: pointer;}